<!DOCTYPE html>
<html>
<head>
  <title>Car Details Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <style>
  .h{
    position:relative;
    top: 50px;
}
 
</style>
</head>
<body>
 
  <div class="container mt-5 h">
    <h2>Edit Car Details</h2>
    <form method="post" action="/update" enctype="multipart/form-data">
      
      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input type="text" class="form-control" id="companyName" name="companyName" value=<%= data.companyName%> readonly>
      </div>
      
      <div class="form-group">
        <label for="carPrice">Car Price:</label>
        <input type="number" class="form-control" id="carPrice" name="carPrice" value=<%= data.carPrice%> required>
      </div>
      <div class="form-group">
        <label for="carDescription">Car Description:</label>
        <input class="form-control" id="carDescription" name="carDescription" rows="3" value=<%= data.carDescription%> required>
      </div>
      <div class="form-group">
        <label for="carModel">Car Model:</label>
        <input type="text" class="form-control" id="carModel" name="carModel" value=<%= data.carModel%> required>
      </div>
      <div class="form-group">
        <label for="carImage">Car Image:</label>
        <input  type="file" name="image" value=<%= data.image%> />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
